@import './base.css';

section fieldset {
  width:50%;
}

/* header - navbar */

header nav {
  width:60%;
  height:6rem;
  flex-direction:row;
  border-radius:5rem; 
  align-items:center;
  justify-content:center;
  backdrop-filter:blur(5rem);
  border:var(--border-global);
/*  transform: skewX(-21deg);  X inclination  */
}

header nav ul {
  width:100%;
  display:flex;
  font-size:2rem;
  list-style:none;
  margin-left:3rem;
  margin-right:3rem;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
}

header nav div {
  display:none;
}

/* main - hero */

.section__home .section__item--mobile {
  display:none;
}

.section__home .section__item--desktop {
  display:block;
}

/* main - search */

.search-section img {
  width:20rem;
  height:20rem;
}

.search-section {
  min-height:100vh;
}

.search-section search {
  width:47rem;
}

/* main - about */

.about p {
  width:50%;
}

/* data styles */

/* editable and more */

/* text-tags */

/* detail */

/* form */

/* media */

.media-section fieldset figure img {
  width:33rem;
  height:33rem;
}

pre code {
  display:block;
  border-radius:1rem;
  border:1px solid var(--color-border);
}

/* table section */

/* footer */

footer section {
  width:100%;
}

footer section a img {
  width:15rem;
  height:15rem;
}

footer section {
  width:40%;
  min-height:70vh;
  flex-direction:row;
  justify-content:space-between;
}
