@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
  /* Colors */
  --color-bg:#1e2030;
  --color-search:#f1c5d4;
  --color-text:#fd9bbe;
  --color-border:#fd9bbe; 
  --color-bg-light: #f1c5d4;
  --color-footer:#b38ad3;
  --color-aux:#ae86cd;

  /* Fonts */
  --font-robot:"Roboto";
}

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html {
  scroll-behavior:smooth;
}

body {
  background-color:var(--color-bg)
}

section fieldset {
  width:50%;
  padding:30px;
  margin-top:30px;
  border-radius:10px;
  color:var(--color-text);
  border:2px solid var(--color-border);
} 

blockquote, ul, dd, dt, ol {
  all:revert; /* to reverse global styles */
}

fieldset legend {
  margin-left:10px;
  padding:5px 10px;
  border-radius:25px;
  color:var(--color-bg);
  background-color:var(--color-aux);
}

fieldset mark {
  background-color:var(--color-aux)
}

fieldset hr {
  width:10%;
  margin-top:10px;
  margin-bottom:10px;
  border:1px dashed var(--color-border);
}

/* header - navbar */

header {
  top:50px;
  z-index:10;
  margin:50px;
  display:flex;
  position:sticky;
  justify-content:space-between;
}

header figure img {
  width:60px;
  height:60px;
}

header nav {
  width:60%;
  height:60px;
  display:flex;
  border-radius:50px; 
  align-items:center;
  justify-content:center;
  backdrop-filter:blur(50px);
  border:3px solid var(--color-border);
/*  transform: skewX(-21deg);  X inclination  */
}

header a {
  cursor:pointer;
  text-decoration:none;
  color:var(--color-text);
}

header nav ul {
  width:100%;
  display:flex;
  font-size:20px;
  list-style:none;
  margin-left:30px;
  margin-right:30px;
  align-items:center;
  justify-content:space-between;
}


/* main - hero */

.home {
  display:flex;
  min-height:50vh;
  align-items:center;
}

.home h1 {
  width:100%;
  font-size:200px;
  font-weight:bold;
  color:transparent;
  text-align: center;
  background-clip:text;
  background-size:cover;
  text-transform:uppercase;
  background-position-y:center;
  background-image:url('../img/hyperblog.jpg');
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

/* main - search */

.search-section {
  display:flex;
  min-height:100vh;
  align-items:center;
  flex-direction:column;
  justify-content:center;
}

.search img {
  width:200px;
  height:200px;
}

.search-section search {
  width:470px;
  display:flex;
  border-radius:50px;
  align-items:center;
  justify-content:center;
  border:2px solid var(--color-bg);
  background-color:var(--color-search);
}

.search-section search input {
  background-color:var(--color-search);
}

.search-section search:hover {
  border:2px solid var(--color-border);
}

.search-section input {
  border:0;
  width:450px;
  height:50px;
  outline:none;
  font-size:18px;
}

.search-icon {
  width:25px;
  height:25px;
  opacity:0.7;
  margin-left:20px;
  margin-right:20px;
  background-size:contain;
  background-position:center;
  background-repeat:no-repeat;
  background-image:url('https://static-00.iconduck.com/assets.00/search-icon-256x255-j71obdo6.png');
}

.micro-icon {
  width:25px;
  height:25px;
  margin-left:20px;
  margin-right:20px;
  background-size:contain;
  background-position:center;
  background-repeat:no-repeat;
  background-image:url('https://static-00.iconduck.com/assets.00/microphone-2-icon-200x256-h3wp97sb.png');
}

/* main - about */

.about {
  display:flex;
  min-height:100vh;
  align-items:center;
  flex-direction:column;
  justify-content:center;
}

.about h1 {
  font-size:40px;
  margin-top:60px;
  margin-bottom:20px;
  color:var(--color-text);
}

.about p {
  width:50%;
  font-size:20px;
  margin-bottom:20px;
  color:var(--color-text);
}

.about strong {
  color:var(--color-aux);
}

.about hr {
  width:30%;
  border:0px;
  height:12px;
  border-radius:50%;
  margin-top:20px;
  margin-bottom:20px;
  box-shadow:inset 0 6px 6px -6px var(--color-border);
}

.about .github-icon {
  width:70px;
  height:70px;
  background-size:contain;
  background-position:center;
  background-repeat:no-repeat;
  background-image:url('https://img.icons8.com/?size=100&id=OekWdZr7M4hU&format=png&color=000000');
}

/* data styles */

.data-section {
  display:flex;
  align-items:center;
  justify-content:center;
}

.data-section p {
  font-size:16px;
  margin-bottom:15px;
  color:var(--color-text); 
}

.data-section progress {
  width:100%;
  height:20px;
  border-radius:10px;
  background-color:var(--color-bg-light);
}

.data-section meter {
  width:100%;
  height:20px;
  border-radius:10px;
}

.data-section time,data,output,span {
  font-weight:bold;
}

/* editable and more */

.editable-section {
  display:flex;
  justify-content:center;
  align-items:center;
}

.editable-section p {
  margin-top:30px;
}

/* text-tags */

.text-section {
  display:flex;
  justify-content:center;
  align-items:center;
}

.text-section fieldset {
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:center;
}

.text-section span {
  margin-top:10px;
  margin-bottom:10px;
}

/* detail */

.detail-tag {
  display:flex;
  justify-content:center;
  align-items:center;
}

summary::marker {
  color:var(--color-text);
  font-size:1.2em;
}

summary {
  color:var(--color-text);
  padding:10px;
  border-radius:5px;
}

details p {
  padding:30px;
}

/* form */

.form-tag {
  display:flex;
  align-items:center;
  justify-content:center;
}

.form-tag fieldset {
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:center;
}

.form-tag label {
  color:var(--color-text);
}

.form-tag input {
  padding:5px;
  outline:none;
  margin-bottom:20px;
  border-radius: 5px;
  background-color: #f1c5d4;
  border: 2px solid var(--color-text);
}


.form-tag select {
  padding:5px;
  border-radius: 5px;
  color: var(--color-bg);
  background-color: #f1c5d4;
  border: 2px solid #fb9abe;
}

input[type="reset"],
input[type="button"],
input[type="submit"] {
  cursor: pointer;
}

textarea {
  width:40%;
  outline:none;
  background-color:var(--color-bg-light);
}

input[type="image"] {
  border: none;
  width: 100px;
  height: 100px;
  background-color: transparent;
}

/* media */

.media-section {
  display:flex;
  align-items:center;
  justify-content:center;
}

.media-section .img-info {
  text-align:center;
  margin-bottom:20px;
} 

.media-section fieldset {
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:center;
} 

.media-section fieldset figure {
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:center;
}

.media-section fieldset figure img {
  width:330px;
  height:330px;
  border-radius:5px;
  border:1px solid var(--color-border);
}

.media-section .img-map {
  width:330px;
  margin-top:30px;
  padding-left:10px;
}

pre {
  border-radius:10px;
  border:1px solid var(--color-border);
}

pre code {
  display:block;
  font-size:15px;
  margin-left:10px;
  margin-right:10px;
}

.media-section .video-info {
  display:flex;
  margin-top:30px;
  align-items:center;
  flex-direction:column;
  justify-content:center;
} 

/* table section */

.table-section {
  display:flex;
  align-items:center;
  justify-content:center;
}

.table-section table {
  width:100%;
  margin-bottom:50px;
  border-collapse:collapse;
}

.table-section thead th {
  padding-top: 12px;
  text-align: center;
  padding-bottom: 12px;
  color: var(--color-bg);
  background-color: var(--color-aux);
}

.table-section tfoot th {
  padding-top: 12px;
  padding-bottom: 12px;
  color: var(--color-bg);
  background-color: #c3ea9d;
} 

.table-section table, td {
  padding:8px;
  text-align: center;
  border:1px solid var(--color-bg);
}

.table-section tbody tr:hover {
  color:var(--color-bg);
  background-color: var(--color-bg-light);
}

.table-section p {
  margin-top:20px;
  margin-bottom:20px;
}

thead th:first-child { 
    border-top-left-radius: 10px; 
}

thead th:last-child {   
    border-top-right-radius: 10px; 
}

tfoot th:first-child { 
    border-bottom-left-radius: 10px; 
}

tfoot th:last-child { 
    border-bottom-right-radius: 10px; 
}

/* footer */

footer {
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:center;
}

footer section a img {
  width:150px;
  height:150px;
}

footer section {
  width:40%;
  padding:20px;
  display:flex;
  margin-top:50px;
  min-height:70vh;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
}

footer section ul {
  display:flex;
  font-size:20px;
  list-style:none;
  flex-direction:column;
}

footer section ul li {
  margin-bottom:20px;
}

footer section ul li a {
  cursor:pointer;
  text-decoration:none;
  color:var(--color-text);
}

footer hr {
  width:30%;
  border:0px;
  height:12px;
  border-radius:50%;
  margin-top:20px;
  margin-bottom:20px;
  box-shadow:inset 0 6px 6px -6px var(--color-border);
}

footer span {
  margin-bottom:50px;
  color:var(--color-text);
}

footer span a {
  text-decoration:none;
  color:var(--color-text);
}
