/* https://www.mydevice.io/  breakpoints */
@import './base.css';

section fieldset {
  width:90%;
  padding:3rem;
  margin-top:3rem;
  border-radius:1rem;
  color:var(--color-text);
  border:var(--border-global);
} 

blockquote, ul, dd, dt, ol {
  all:revert; /* to reverse global styles */
}

fieldset legend {
  margin-left:1rem;
  padding:0.5rem 1rem;
  border-radius:2.5rem;
  color:var(--color-bg);
  background-color:var(--color-aux);
}

fieldset mark {
  background-color:var(--color-aux)
}

fieldset hr {
  width:10%;
  margin-top:1rem;
  margin-bottom:1rem;
  border:1px dashed var(--color-border);
}

/* header - navbar */

header {
  top:5rem;
  z-index:10;
  margin:5rem 5rem 0 5rem;
  display:flex;
  position:sticky;
  justify-content:space-between;
}

header figure img {
  width:6rem;
  height:6rem;
}

header nav {
  width:40%;
  height:6rem;
  display:flex;
  flex-direction:column;
}

header a {
  cursor:pointer;
  text-decoration:none;
  color:var(--color-text);
}

header nav ul {
  font-size:2rem;
  list-style:none;
  flex-direction:column;
  display:none;
  width:100px;
  padding:10px;
  border-radius:5px;
  backdrop-filter:blur(5rem);
  border:var(--border-global);
}

header nav ul li {
  margin-top: 10px;
  width:100px;
}

/* Btn hambur */
.menu-btn {
  text-align:end;
  cursor: pointer;
  font-size: 36px;
  color: var(--color-border);
}

/* Show menu when it is active */
.open {
  display: flex;
}

/* main home */

.section__home {
  display:flex;
  min-height:50vh;
  align-items:center;
}

.section__home h1 {
  width:100%;
  font-size:25rem;
  font-weight:bold;
  color:transparent;
  text-align: center;
  background-clip:text;
  background-size:cover;
  text-transform:uppercase;
  background-position-y:center;
  font-family:var(--font-home);
  background-image:url('../img/hyperblog.jpg');
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.section__home .section__item--desktop {
  display:none;
}

/* main - search */

.search-section img {
  margin-top:200px;
  width:15rem;
  height:15rem;
}

.search-section {
  display:flex;
  min-height:10vh;
  align-items:center;
  flex-direction:column;
  justify-content:center;
}

.search-section search {
  margin-bottom:200px;
  width:30rem;
  display:flex;
  border-radius:5rem;
  align-items:center;
  justify-content:center;
  border:2px solid var(--color-bg);
  background-color:var(--color-search);
}

.search-section search input {
  color:var(--color-bg);
  font-family:var(--font-body);
  background-color:var(--color-search);
}

.search-section search:hover {
  border:var(--border-global);
}

.search-section input {
  border:0;
  width:18rem;
  height:5rem;
  outline:none;
  font-size:1.8rem;
}

.search-icon {
  width:2.5rem;
  height:2.5rem;
  opacity:0.7;
  margin-left:2rem;
  margin-right:2rem;
  background-size:contain;
  background-position:center;
  background-repeat:no-repeat;
  background-image:url('https://static-00.iconduck.com/assets.00/search-icon-256x255-j71obdo6.png');
}

.micro-icon {
  width:2.5rem;
  height:2.5rem;
  margin-left:2rem;
  margin-right:2rem;
  background-size:contain;
  background-position:center;
  background-repeat:no-repeat;
  background-image:url('https://static-00.iconduck.com/assets.00/microphone-2-icon-200x256-h3wp97sb.png');
}

/* main - about */

.about {
  display:flex;
  min-height:100vh;
  align-items:center;
  flex-direction:column;
  justify-content:center;
}

.about h1 {
  font-size:4rem;
  margin-bottom:2rem;
  color:var(--color-text);
}

.about p {
  width:80%;
  margin-bottom:2rem;
  color:var(--color-text);
}

.about strong {
  color:var(--color-aux);
}

.about hr {
  width:30%;
  border:0px;
  height:1.2rem;
  border-radius:50%;
  margin-top:2rem;
  margin-bottom:2rem;
  box-shadow:inset 0 0.6rem 0.6rem -0.6rem var(--color-border);
}

.about .github-icon {
  width:7rem;
  height:7rem;
  background-size:contain;
  background-position:center;
  background-repeat:no-repeat;
  background-image:url('https://img.icons8.com/?size=100&id=OekWdZr7M4hU&format=png&color=000000');
}

/* data styles */

.data-section {
  display:flex;
  align-items:center;
  justify-content:center;
}

.data-section p {
  margin-bottom:1.5rem;
  color:var(--color-text); 
}

.data-section progress {
  width:100%;
  height:2rem;
  border-radius:1rem;
  background-color:var(--color-bg-light);
}

.data-section meter {
  width:100%;
  height:2rem;
  border-radius:1rem;
}

/* editable and more */

.editable-section {
  display:flex;
  justify-content:center;
  align-items:center;
}

.editable-section p {
  margin-top:3rem;
}

/* text-tags */

.text-section {
  display:flex;
  justify-content:center;
  align-items:center;
}

.text-section fieldset {
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:center;
}

.text-section span {
  margin-top:1rem;
  margin-bottom:1rem;
}

/* detail */

.detail-tag {
  display:flex;
  justify-content:center;
  align-items:center;
}

summary::marker {
  color:var(--color-text);
  font-size:1.2em;
}

summary {
  cursor:pointer;
  color:var(--color-text);
  padding:1rem;
  border-radius:0.5rem;
}

details p {
  padding:3rem;
}

/* form */

.form-tag {
  display:flex;
  align-items:center;
  justify-content:center;
}

.form-tag fieldset {
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:center;
}

.form-tag label {
  color:var(--color-text);
}

.form-tag input {
  outline:none;
  padding:0.5rem;
  margin-bottom:2rem;
  border-radius:0.5rem;
  color:var(--color-bg);
  background-color: #f1c5d4;
  border:var(--border-global);
  font-family:var(--font-body);
}


.form-tag select {
  padding:5px;
  border-radius: 5px;
  color: var(--color-bg);
  background-color: #f1c5d4;
  border:var(--border-global);
}

input[type="reset"],
input[type="button"],
input[type="submit"] {
  cursor: pointer;
}

textarea {
  width:40%;
  outline:none;
  color:var(--color-bg);
  font-family:var(--font-body);
  background-color:var(--color-bg-light);
}

input[type="image"] {
  border: none;
  width: 10rem;
  height: 10rem;
  background-color: transparent;
}

/* media */

.media-section {
  display:flex;
  align-items:center;
  justify-content:center;
}

.media-section fieldset figure {
  display:flex;
  margin-bottom:3rem;
  align-items:center;
  flex-direction:column;
  justify-content:center;
}

.media-section fieldset figure img {
  width:25rem;
  height:25rem;
  border-radius:0.5rem;
  border:1px solid var(--color-border);
}

.media-section a {
  text-decoration:none;
  color:var(--color-text);
}

pre code {
  display:none;
}

.media-section div > p {
  margin-bottom:3rem;
}

/* table section */

.table-section {
  display:flex;
  align-items:center;
  justify-content:center;
}

.table-section table {
  width:100%;
  border-collapse:collapse;
}

.table-section table + p {
  margin-top:5rem;
}

.table-section thead th {
  padding-top: 1.2rem;
  text-align: center;
  padding-bottom: 1.2rem;
  color: var(--color-bg);
  background-color: var(--color-aux);
}

.table-section tfoot th {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  color: var(--color-bg);
  background-color: #c3ea9d;
} 

.table-section table, td {
  padding:0.8rem;
  text-align: center;
  border:1px solid var(--color-bg);
}

.table-section tbody tr:hover {
  color:var(--color-bg);
  background-color: var(--color-bg-light);
}

.table-section p {
  margin-top:2rem;
  margin-bottom:2rem;
}

thead th:first-child { 
    border-top-left-radius: 1rem; 
}

thead th:last-child {   
    border-top-right-radius: 1rem; 
}

tfoot th:first-child { 
    border-bottom-left-radius: 1rem; 
}

tfoot th:last-child { 
    border-bottom-right-radius: 1rem; 
}

/* footer */

footer {
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:center;
}

footer section a img {
  width:12rem;
  height:12rem;
}

footer section {
  width:100%;
  padding:2rem;
  display:flex;
  margin-top:5rem;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

footer section ul {
  display:flex;
  padding:0;
  font-size:2rem;
  list-style:none;
  align-items:center;
  flex-direction:column;
  justify-content:center;
}

footer section ul li {
  margin-bottom:2rem;
}

footer section ul li a {
  cursor:pointer;
  text-decoration:none;
  color:var(--color-text);
}

footer hr {
  width:30%;
  border:0px;
  height:1.2rem;
  border-radius:50%;
  margin-top:2rem;
  margin-bottom:2rem;
  box-shadow:inset 0 0.6rem 0.6rem -0.6rem var(--color-border);
}

footer p {
  text-align:center;
  margin-bottom:5rem;
  color:var(--color-text);
}

footer p a {
  text-decoration:none;
  color:var(--color-text);
}
